<div class="container-new-list">
  <h1 class="mb-4 text-center">Créer une nouvelle liste</h1>

  <div class="new-list-form">
    <%= simple_form_for @list do |f| %>
      <%= f.input :name, label: "Nom de la liste", input_html: { autofocus: true } %>
      <div class="text-center">
        <%= f.button :submit, "Créer la liste", class: "btn btn-success mt-3" %>
      </div>
    <% end %>

    <div class="text-center mt-4">
      <%= link_to "⬅️ Retour aux listes", lists_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>
