<% @list.bookmarks.each do |bookmark| %>
  <li>
    <strong><%= bookmark.movie.title %></strong> — <%= bookmark.comment %>
    <%= link_to "Supprimer", bookmark_path(bookmark),
          method: :delete,
          data: { confirm: "Es-tu sûr ?" },
          class: "btn btn-sm btn-danger" %>
  </li>
<% end %>
