<h1>Ajouter un film à la liste "<%= @list.name %>"</h1>

<%= render "form", list: @list, bookmark: @bookmark %>

<%= link_to "⬅️ Retour à la liste", list_path(@list), class: "btn btn-secondary mt-3" %>
